#pictures ul{
    display: grid;
    grid-template-columns: repeat(6, minmax(1px, 100%));
    padding-left: 0;
    list-style: none;
}    
#pictures li{
    padding: 1em;
    margin-bottom: 1em;
}   
img#pics{
    max-width:100%;
    height:auto;
    transition: transform .4s;
}
img#pics:hover{
    max-width:100%;
    height:auto;
    transform: scale(2);
}
a#subs:hover{
    background-color: rgb(48, 48, 48);
    opacity: 90%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
body > form div{
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.6em;
    margin: auto;
    margin-left: 30em;
    margin-right: 30em;
    border-radius: 5%;
}
body > nav input#delete{
    padding: 0.2em;
    background: rgb(221, 221, 221);
    color: #4d4d4d;
    border-radius: 13%;
}
body > form input#submitphoto{
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 7%;
}
body > form input#submitadmin{
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 7%;
}
body > form input#adminremove{
    padding: 0.4em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 10%;
}

form#formremove ul {
    display: inline-flex;
    margin-top: -1em;
    list-style: none;
    padding:1em;
}
form#formremove li {
    padding: 1em;
    text-align: center;
    font-weight: bold;
}