body{
    font-family: Arial, Verdana, monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: auto;
    background-image: url(../img/portfolio4.png);
    -webkit-font-smoothing: antialiased;
}
body > header{
    font-size: 2.1em;
    border-style: solid;
    flex-direction: column;
    text-align: center;
    border-bottom-width: 0.4em;
    margin-bottom: 0.5em;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: -1em;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 37%;
    resize: vertical;
    overflow: auto;
    font-family: "Lucida Handwriting";
    display: flex;
}
body > article {
    text-align: center;
    font-size: 0.65em;
    width: 50em;
    height: 18em;
    padding: 1em;
    border-style: solid;
    background-color: rgb(184, 182, 169);
    border-radius: 2%;
    margin: auto;
    margin-bottom: 4em;
    margin-top: 4em;
    display: flex;
}
body > form {
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    background: #13d0ff94;
    padding: 20px;
    width: 15em;
    height: 15em;
    margin: auto;
    display: column;
}

body > div {
    padding-top: 1em;
    text-align: center;
}

body > form label {
    font-size: 1.1em;
    text-align: left;
}

body > form label input{
    font-size: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-style: solid;
}

body > form label input:hover{
    background: rgb(155, 155, 155);
}
body > form label input:focus{
    background: rgb(255, 255, 255);
}

body input[type=submit]{
    background-color: #008CFF;
    color: white;
}
body > footer{
    text-align: right;
    font-size: 0.65em;
    margin: auto;
    display: block;
}
body > footer a{
    text-align: left;
    font-size: 1.5em;
}
