
body{
    font-family: Arial, Verdana, monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: auto;
    background-image: url(../img/portfolio4.png);
    -webkit-font-smoothing: antialiased;
    margin-left: 10em;
}
a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
body > header{

    font-size: 2.1em;
    border-style: solid;
    flex-direction: column;
    text-align: center;
    border-bottom-width: 0.4em;
    margin-bottom: 0.5em;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: -1em;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 37%;
    resize: vertical;
    overflow: auto;
    font-family: "Lucida Handwriting";
    display: flex;
}
body > div{
    font-size: 1.1em;
    flex-direction: column;
    text-align: right;

}
a:-webkit-any-link#Add {
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
a:-webkit-any-link#Admin {
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
a:-webkit-any-link#Back {
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
body > footer{
    text-align: right;
    font-size: 0.65em;
    margin: auto;
    display: block;
    margin-top: 10em;
    list-style-type: none;
    margin: 0;
    margin-top: 35em;
    margin-right: 5em;
}

body > div#username a{
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
