
body{
    font-family: Arial, Verdana, monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: auto;
    background-image: url(../img/portfolio4.jpg);
    -webkit-font-smoothing: antialiased;
    margin-left: 5em;
    margin-right: 5em;
}

body > header{
    font-size: 2.1em;
    border-style: solid;
    flex-direction: column;
    text-align: center;
    border-bottom-width: 0.4em;
    margin-bottom: -1em;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: -1em;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 37%;
    resize: vertical;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

body > header h1 a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#operations a{
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 7%;
}

body > div{
    text-align: right;
}
body > div#username a{
    padding: 0.6em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 1em;
    flex-direction: column;

}
body > footer {
    text-align: right;
    font-size: 0.80em;
    margin: auto;
    margin-top: 20em;
}
body > footer a{
    padding: 0.35em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 8%;
    text-decoration: none;

}