#subjects ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    flex-wrap: wrap;
}    
#subjects li{
    padding: 2em;
    margin-bottom: 3.5em;
}   
a#subs{
    padding: 1.1em;
    background: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
    border-radius: 6%;
    border-bottom: #8C2D19;
    border-bottom-width: 15em;
    border-style: solid;
    box-shadow: 3pt 2pt 3pt 7pt black;
    margin-bottom: 20px; 
}
a#subs:hover{

background-color: rgb(48, 48, 48);
opacity: 90%;
color: rgb(255, 255, 255);
font-weight: bold;

}